# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Django media and static files (adjust if needed)
media/
staticfiles/
static/

# Environment variables
.env
*.env

# Virtual environment folders
venv/
backend/venv/
frontend/venv/

# PyCharm / VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js dependencies
frontend/node_modules/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test / profiling / debugging files
.pytest_cache/
.pytest_cache/
.coverage
.pytest_cache/
.ipynb_checkpoints/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# mypy
.mypy_cache/

# Logs
*.log

# Misc
*.swp
.DS_Store
